/* LARGE TABLET SCREEN */
@media (max-width: 480px) {

    .html,
    body {
        box-sizing: border-box;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    /* -------------- */
    /* HEADER SECTION */
    /* -------------- */
    .header-container {
        flex-wrap: wrap;
        position: relative;
    }

    /* MENU BAR */
    #menu-toggle {
        display: block;
        font-size: 1.8rem;
        color: #00FF1A;
        cursor: pointer;
    }

    /* NAVIGATION BAR */
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #202020;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        z-index: 10;
    }

    .nav-links.open {
        display: flex;
    }


    /* ------------- */
    /* INTRO SECTION */
    /* ------------- */
    #intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        margin: 2rem 0;
    }

    /* Left Side - INTRO SECTION */
    .social-container {
        width: 100vw;
        justify-content: center;
    }
}