
/* TABLET SCREEN */
@media screen and (max-width: 768px) {
    * {
        box-sizing: border-box;
        margin: 0;
    }
    /* HEADER */
    /* Navigation Bar */
    .nav-bar {
        overflow: hidden;
    }
    .nav-bar ul li {
        margin: 0 5px;
    }

    .contact-button {
        margin-right: 2rem;
    }

    /* left side - INTRO CONTAINER */
    #intro {
        gap: 20px;
    }

    .animated-text {
        margin-left: 0;
        font-size: 1.5rem;
    } 
    .social-info p {
        font-size: 1rem;
    }
    .social-info p

    .social-links {
        margin-left: 0;
    }

    .social-links img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
        transition: filter 0.3s ease-in-out;
    }

    /* right side - INTRO CONTAINER */
    .social-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: auto;
    }

    .social-links a {
        width: 1.3rem;
        height: 1.3rem;
        padding: 0;
        position: relative;
    }

    .profile-title {
        top: 60%;
        right: 5%;
        font-size: 5rem;
    }

    .profile-image img {
        width: 60%;
        height: auto;
        left: 5rem;
        padding-top: 5rem;
    }

    /* rating - INTRO CONTAINER */
    .rating-container {
        top: -60%;
        left: 0;
    }

    /* SERVICES CONTAINER */
    #services {
        margin-top: -2rem;
    }

    /* ABOUT CONTAINER */
    #about {
        display: flex;
        width: 100%;
    }

    #about-title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    /* Left Side - ABOUT CONTAINER */
    .tab-content {
        height: 18rem;
        width: auto;
    }

    #skills {
        height: 18rem;
        width: auto;
    }

    .certification-box {
        padding: 0;
        margin: 0;
        flex-direction: column;
        text-align: center;
    }

    .cert-image img {
        width: 100px;
    }

    /* FOOTER */
    
}

/* MOBILE SCREEN */
@media screen and (max-width: 480px) {
    * {
        box-sizing: border-box;
        margin: 0;
    }
    body {
        display: flex;
        flex-direction: column;
        width: 100%;     
    }
    /* INTRO SECTION */
    #intro {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .social-container {
        width: 100%;
        padding: 0;
        margin-top: -3rem;
    }
    .profile-container {
        width: 100%;
    }
    .profile-title {
        top: 70%;
        left: 5%;
    }
    .rating-container {
        top: -100%;
    }

    /* SERVICES SECTION */
    #services  {
        margin-top: -5rem;
    }
    
    .services-container {
        display: flex;
        flex-direction: column;
    }
    .service-box {
        width: 100%;
        min-width: 10rem;
    }

    /* ABOUT SECTION */
    .about-left img {
        width: 10rem;
        height: 10rem;
    }
    .about-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        border-radius: 10px;
    }
    .tab-content  {
        width: 100%;
        box-sizing: border-box;
        font-size: .8rem;
        overflow: hidden;
    }
    .certification-box {
        padding: 10px;
        box-sizing: border-box;
        gap: 10px;
    }
    .button {
        font-size: 6px;
    }
    .prev-btn, .next-btn {
        padding: 4px 8px;
        font-size: 10px;
    }
    .cert-image.zoomed img {
        width: 300px;
        height: auto;
        transform: translate(-50%, -50%) scale(1.2);
        top: 60%;
        left: 50%;
    }
    #tab-image {
        font-size: .8rem;
    }
    /* FOOTER */
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-section h2 {
        margin-bottom: .5rem;
        margin-top: 1.5rem;
    }

    
}

/* Smooth Scroll Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Text Typing Animation */
@keyframes typing {
    from {
        width: 0ch;
    }
}
